@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-6-0.woff2") format("woff2"), url("../fonts/2CA963-6-0.woff") format("woff"), url("../fonts/2CA963-6-0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-7-0.woff2") format("woff2"), url("../fonts/2CA963-7-0.woff") format("woff"), url("../fonts/2CA963-7-0.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-0-0.woff2") format("woff2"), url("../fonts/2CA963-0-0.woff") format("woff"), url("../fonts/2CA963-0-0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-1-0.woff2") format("woff2"), url("../fonts/2CA963-1-0.woff") format("woff"), url("../fonts/2CA963-1-0.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-3-0.woff2") format("woff2"), url("../fonts/2CA963-3-0.woff") format("woff"), url("../fonts/2CA963-3-0.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-5-0.woff2") format("woff2"), url("../fonts/2CA963-5-0.woff") format("woff"), url("../fonts/2CA963-5-0.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-9-0.woff2") format("woff2"), url("../fonts/2CA963-9-0.woff") format("woff"), url("../fonts/2CA963-9-0.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-B-0.woff2") format("woff2"), url("../fonts/2CA963-B-0.woff") format("woff"), url("../fonts/2CA963-B-0.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/* Support Older IE */
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-6-0.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-7-0.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-0-0.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-1-0.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-3-0.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-5-0.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-9-0.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-B-0.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: italic;
}
/* Caps Needs to be a Separate Family */
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-4-0.eot");
  src: url("../fonts/2CA963-4-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-4-0.woff") format("woff"), url("../fonts/2CA963-4-0.woff2") format("woff2"), url("../fonts/2CA963-4-0.ttf") format("truetype"), url("../fonts/2CA963-4-0.svg#wf") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-8-0.eot");
  src: url("../fonts/2CA963-8-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-8-0.woff") format("woff"), url("../fonts/2CA963-8-0.woff2") format("woff2"), url("../fonts/2CA963-8-0.ttf") format("truetype"), url("../fonts/2CA963-8-0.svg#wf") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-A-0.eot");
  src: url("../fonts/2CA963-A-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-A-0.woff") format("woff"), url("../fonts/2CA963-A-0.woff2") format("woff2"), url("../fonts/2CA963-A-0.ttf") format("truetype"), url("../fonts/2CA963-A-0.svg#wf") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-2-0.eot");
  src: url("../fonts/2CA963-2-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-2-0.woff") format("woff"), url("../fonts/2CA963-2-0.woff2") format("woff2"), url("../fonts/2CA963-2-0.ttf") format("truetype"), url("../fonts/2CA963-2-0.svg#wf") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* New intro variations for the new consumer nav */
@font-face {
  font-family: "Intro Light W05";
  src: url("../fonts/97e479cd-7898-467c-9075-82c1d8faa40c.woff2") format("woff2"), url("../fonts/6170170b-3d7c-4b22-b99e-51fdd74bc644.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Intro Regular W05";
  src: url("../fonts/3212d085-bd6a-4e52-a1a3-41cf21fd5e97.woff2") format("woff2"), url("../fonts/59550b43-38c4-4a50-996a-3d9595e7c875.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Intro Condensed W05";
  src: url("../fonts/ae71928a-4836-46d9-97e5-a02cfc9f4613.woff2") format("woff2"), url("../fonts/ddf60796-5158-422c-963e-95a36e536d3c.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.customBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 16px 20px;
  text-align: center;
  font-family: "Intro";
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.32px;
  color: #2c2c2c;
  text-transform: uppercase;
  background-color: #FCD800;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.customBtn:hover {
  text-decoration: none;
  color: #2c2c2c;
}
.customBtn--border {
  background-color: #fff;
  border: 2px solid #FCD800;
}

.pricingTable {
  padding: 80px 0 20px;
}
.pricingTable .title {
  font-family: "Intro";
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #2c2c2c;
}
.pricingTable .title--blue {
  color: #00A6CA;
}
.pricingTable .desc {
  max-width: 645px;
  text-align: center;
  color: #262626;
  font-family: "Intro";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 12px auto 55px;
}
.pricingTable--row {
  display: flex;
  gap: 40px;
}
.pricingTable--container {
  max-width: 33.333%;
  width: 100%;
}
.pricingTable--body {
  background-color: #fff;
  border: 2px solid #00A6CA;
  border-radius: 18px;
  height: 100%;
  position: relative;
  transition: all 0.2s ease;
}
.pricingTable--body:hover {
  cursor: pointer;
  border-color: #004364;
}
.pricingTable--body:hover.popular .pricingTable--body-top {
  background-color: #004364;
}
.pricingTable--body:hover .pricingTable--body-features-listing li svg path {
  fill: #005F8D;
}
.pricingTable--body:hover .pricingTable--body-top {
  background-color: #E6EDF1;
}
.pricingTable--body:hover .customBtn--border {
  background-color: #FCD800;
}
.pricingTable--body.popular {
  border-color: #004364;
}
.pricingTable--body.popular .pricingTable--body-top {
  background-color: #005F8D;
}
.pricingTable--body.popular .pricingTable--body-name, .pricingTable--body.popular .pricingTable--body-price, .pricingTable--body.popular .pricingTable--body-type {
  color: #fff;
}
.pricingTable--body.popular .pricingTable--body-oldPrice {
  color: #BFBFBF;
}
.pricingTable--body-top {
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 24px;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #E6EDF1;
  transition: all 0.2s ease;
}
.pricingTable--body .popularChips {
  position: absolute;
  right: -34px;
  top: -34px;
}
.pricingTable--body-name {
  font-family: "Intro";
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.36px;
  color: #262626;
  margin-bottom: 12px;
}
.pricingTable--body-oldPrice {
  font-family: "Intro";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2px;
  color: #BFBFBF;
}
.pricingTable--body-oldPrice.empty {
  height: 24px;
}
.pricingTable--body-price {
  font-family: "Intro";
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #004364;
  letter-spacing: -0.32px;
  margin-bottom: 2px;
}
.pricingTable--body-type {
  font-family: "Intro";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #262626;
  letter-spacing: 0.4px;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.pricingTable--body-type.withChips {
  margin-bottom: 30px;
}
.pricingTable--body-type .discountChips {
  text-align: center;
  background-color: #67D995;
  color: #004364;
  padding: 10px;
  border-radius: 20px;
  font-family: "Intro";
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.pricingTable--body-type .discountChips::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
  animation: shine 3.5s ease infinite;
}
.pricingTable--body-features {
  margin-top: 36px;
}
.pricingTable--body-features .featuresTitle {
  color: #262626;
  font-family: "Intro";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.32px;
  margin-bottom: 24px;
}
.pricingTable--body-features-listing {
  padding: 0 28px 28px;
  margin: 0;
}
.pricingTable--body-features-listing li {
  display: flex;
  align-items: center;
}
.pricingTable--body-features-listing li:not(:last-child) {
  margin-bottom: 20px;
}
.pricingTable--body-features-listing li svg {
  width: 16px;
  height: 16px;
}
.pricingTable--body-features-listing li svg path {
  transition: all 0.2s ease;
}
@media (min-width: 992px) {
  .pricingTable--body-features-listing li svg path {
    fill: #00A6CA;
  }
}
.pricingTable--body-features-listing li span {
  padding-left: 12px;
  font-family: "Intro";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.32px;
}
.pricingTable--note {
  padding: 20px 24px;
  background-color: #F6F7FC;
  border-radius: 24px;
  margin: 20px 0 0;
  font-family: "Intro";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
@media (max-width: 575px) {
  .pricingTable--note {
    padding: 20px 16px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}
.pricingTable--note.primary {
  background-color: #E6F6FA;
}
.pricingTable--note .blue {
  color: #00A6CA;
  font-weight: 500;
}

@keyframes shine {
  50% {
    left: 125%;
  }
  100% {
    left: 225%;
  }
}
.stepper {
  padding-bottom: 60px;
}
.stepper--body {
  border: 1px solid #CCDBE3;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 66px;
}
@media (max-width: 768px) {
  .stepper--body {
    padding: 0 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.stepper--body .item {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .stepper--body .item {
    padding: 24px 0;
  }
}
@media (max-width: 768px) {
  .stepper--body .item br {
    display: none;
  }
}
.stepper--body .item:not(:last-child):after {
  position: absolute;
  content: "";
  width: 12px;
  height: 24px;
  right: -60px;
  background-image: url("../images/arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .stepper--body .item:not(:last-child):after {
    right: 50%;
    bottom: -10px;
    transform: translateX(-50%) rotate(90deg);
  }
}
@media (max-width: 575px) {
  .stepper--body .item:not(:last-child):after {
    right: 40%;
    width: 8px;
  }
}
.stepper--body .item .left {
  min-width: 56px;
  height: 56px;
  background-color: #E6F6FA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .stepper--body .item .left {
    min-width: 32px;
    height: 32px;
  }
}
.stepper--body .item .left .number {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #00A6CA;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .stepper--body .item .left .number {
    font-size: 18px;
    line-height: 24px;
  }
}
.stepper--body .item .right {
  padding-left: 16px;
}
.stepper--body .item .right .title {
  font-family: "Intro";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 0;
  max-width: 243px;
}
@media (max-width: 768px) {
  .stepper--body .item .right .title {
    max-width: inherit;
  }
}
@media (max-width: 575px) {
  .stepper--body .item .right .title {
    font-size: 16px;
    line-height: 22px;
  }
}
.stepper--body .item .right .title span {
  font-weight: 700;
}

.appCta {
  padding: 40px 0;
  background-image: url("../images/cta-banner.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 768px) {
  .appCta {
    background-image: url("../images/cta-banner-responsive.svg");
    padding: 172px 0 300px;
  }
}
.appCta .title {
  font-family: "Intro";
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #2c2c2c;
}
.appCta .title--blue {
  color: #00A6CA;
}
.appCta .desc {
  color: #2c2c2c;
  font-family: "Intro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 12px 0 28px;
}
.appCta .customBtn {
  display: inline-flex;
  padding: 12px 24px;
  line-height: 24px;
}
@media (max-width: 575px) {
  .appCta .customBtn {
    display: flex;
  }
}
.appCta--form label {
  font-family: "Intro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.appCta--form-row {
  display: flex;
  align-items: center;
}
.appCta--form-row input {
  background-color: #fff;
  border: 1px solid #acacac;
  outline: none;
  box-shadow: none;
  font-family: " Intro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 12px 16px;
  width: 100%;
}
.appCta--form-row input::-moz-placeholder {
  color: #707070;
}
.appCta--form-row input::placeholder {
  color: #707070;
}
.appCta--form-btn {
  background-color: #FCD800;
  color: #2c2c2c;
  font-family: "Intro";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  padding: 18px;
  height: 50px;
  max-width: 170px;
  width: 100%;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appCta--form-btn:hover {
  text-decoration: none;
  color: #2c2c2c;
}
.appCta--download {
  margin-top: 28px;
}
.appCta--download .title {
  font-family: "Intro";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
  color: #707070;
  margin-bottom: 12px;
}
.appCta--download .item {
  display: flex;
  align-items: center;
}
.appCta--download .item a {
  margin-right: 16px;
}
.appCta--download .item a img {
  height: 44px;
}
.appCta--download .item .qr {
  height: 40px;
}
.appCta--image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 590px;
}
@media (max-width: 1024px) {
  .appCta--image {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .appCta--image {
    max-width: 318px;
  }
}

@media (max-width: 991.98px) {
  .hide-md-down {
    display: none !important;
  }
  .pricingTable--body-features {
    margin-top: 0;
  }
  .plan-tabs {
    flex-wrap: nowrap !important;
  }
  .plan-tabs .nav-item {
    width: 100%;
    padding: 0 !important;
  }
  .plan-tabs .nav-item .nav-link {
    width: 100%;
    height: 100%;
    background-color: #f6f7fc;
    border: 1px solid #ddd;
    border-radius: 0;
    border-top-color: #f6f7fc;
    border-right-color: #f6f7fc;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 15px;
    padding-top: 35px;
    position: relative;
    outline: none;
  }
  .plan-tabs .nav-item .nav-link:first-child {
    border-left-color: #f6f7fc;
  }
  .plan-tabs .nav-item .nav-link.empty {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .plan-tabs .nav-item .nav-link .discount {
    top: 0px;
    left: -1px;
  }
  .plan-tabs .nav-item .nav-link.active {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: #fff;
  }
  .plan-tabs .nav-item .nav-link:not(.active) {
    border-top-color: #ddd;
  }
  .plan-tabs .nav-item:first-child .nav-link {
    border-top-left-radius: 4px;
  }
  .plan-tabs .nav-item:first-child .nav-link.active {
    border-right-color: #ddd;
  }
  .plan-tabs .nav-item:not(:first-child) .nav-link {
    border-right-color: #ddd;
  }
  .plan-tabs .nav-item:not(:last-child) .nav-link {
    border-left-color: #ddd;
  }
  .plan-tabs .nav-item:last-child .nav-link.active {
    border-left-color: #ddd;
  }
  .plan-tabs .nav-item .plan-name {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .plan-tabs .nav-item .with-tooltip {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 4px;
  }
  .plan-tabs .nav-item .with-tooltip .tooltip-pop {
    margin-bottom: 4px;
  }
  .plan-tabs .nav-item .with-tooltip .plan-duration {
    margin-bottom: 0;
  }
  .plan-tabs .nav-item .plan-duration {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
    font-weight: 700;
  }
  .plan-tabs .nav-item .discount {
    position: absolute;
    left: -1px;
    background-color: #fcd800;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000;
    padding: 0px 10px;
    margin-left: 0px;
    border-radius: 0px;
  }
  .plan-tabs .nav-item .discount-price {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #000;
    margin-bottom: 0px;
  }
  .plan-tabs .nav-item .popular-tag {
    position: absolute;
    top: -30px;
    left: -1px;
    right: -1px;
    padding: 0 10px;
    font-size: 8px;
    margin-bottom: 0;
    background-color: #00a6ca;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 2px);
    line-height: 1.2;
    font-weight: 600;
    border-radius: 7px 7px 0px 0px;
  }
  .plan-tabs .nav-item .popular-tag.dark {
    background-color: #00A6CA;
  }
  .plan-tabs .nav-item .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .plan-tabs .nav-item .prices .plan-price {
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 700;
  }
  .plan-tabs .nav-item .prices .plan-price:before {
    background-color: #707070;
  }
  .plan-tab-content {
    background: #fff;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 0px 0px 6px 6px;
  }
  .plan-tab-content .tab-pane {
    padding: 20px 10px;
  }
  .plan-tab-content .tab-pane .plan-features .feature {
    font-size: 14px;
    align-items: flex-start;
    display: flex;
  }
  .plan-tab-content .tab-pane .plan-features .feature .icon {
    margin-right: 12px;
    margin-top: 3px;
    max-width: 22px;
  }
  .plan-tab-content .tab-pane .plan-features .feature:not(:last-child) {
    margin-bottom: 18px;
  }
  .plan-tab-content .tab-pane .plan-features .feature b {
    font-weight: 600;
  }
  .plan-tab-content .tab-pane .not-available-features {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .plan-tab-content .tab-pane .not-available-features .feature {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f16e00;
  }
  .plan-tab-content .tab-pane .not-available-features .feature b {
    font-weight: 600;
  }
  .plan-tab-content .tab-pane .not-available-features .feature:last-child {
    margin-bottom: 0px;
  }
  .plan-tab-content .tab-pane .horizontal-seperator {
    margin-bottom: 16px;
  }
}
@media (min-width: 992px) {
  .hide-lg-up {
    display: none;
  }
}
@media (max-width: 768px) {
  .pricingTable {
    padding: 40px 0;
  }
  .pricingTable .title {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .pricingTable .desc {
    font-size: 14px;
    line-height: 22px;
  }
  .pricingTable .customBtn {
    font-size: 14px;
  }
  .pricingTable--body-features .featuresTitle {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .pricingTable--body-features-listing li:not(:last-child) {
    margin-bottom: 12px;
  }
  .pricingTable--body-features-listing li span {
    font-size: 14px;
    line-height: 22px;
  }
  .pricingTable--note {
    font-size: 14px;
    line-height: 22px;
  }
  .appCta .title {
    font-size: 24px;
    line-height: 28px;
  }
  .appCta .desc {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .appCta--form label {
    font-size: 14px;
    line-height: 19px;
  }
  .appCta--form-row {
    flex-wrap: wrap;
  }
  .appCta--form-btn {
    font-size: 14px;
    margin-left: 0;
    margin-top: 12px;
    max-width: inherit;
  }
  .appCta--download .title {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .appCta--download .item a {
    margin-right: 0;
    width: 50%;
  }
  .appCta--download .item a + a {
    margin-left: 12px;
  }
  .appCta--download .item > img {
    display: none;
  }
}
.new-plan .table {
  text-align: center;
  margin-bottom: 0;
}
.new-plan .table .white-bg {
  background-color: #fff;
}
.new-plan .table .dark-border {
  border-right: 1px solid #00A6CA;
}
.new-plan .table .no-border td {
  border: none;
  padding: 0;
  vertical-align: bottom;
}
.new-plan .table .no-border td .popular-tag {
  background-color: #00A6CA;
  margin-bottom: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 7px 7px 0px 0px;
  padding: 7px 18px;
}
.new-plan .table .no-border td .popular-tag .icon {
  margin-right: 8px;
}
.new-plan .table .no-border td .discount-tag {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  background: #fcd800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px 7px 0px 0px;
  margin-bottom: 0px;
}
.new-plan .table .no-border td .bottom-link {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #F16E33;
  letter-spacing: 1px;
  text-decoration: underline;
  padding: 24px 0;
  text-align: center;
  display: block;
}
.new-plan .table thead {
  border-top: none;
}
.new-plan .table thead .heading-main {
  text-align: left;
  width: 410px;
}
.new-plan .table thead .heading-main .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-bottom: 12px;
  text-align: left;
}
.new-plan .table thead .heading-main .desc {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 0;
  text-align: left;
}
.new-plan .table thead .popular {
  position: relative;
  border-top: 1px solid #00A6CA;
}
.new-plan .table thead .popular .popularChips {
  position: absolute;
  right: -34px;
  top: -34px;
}
.new-plan .table tbody {
  background-color: #fff;
}
.new-plan .table tbody tr:last-child td:last-child {
  border-bottom: 1px solid #004364;
}
.new-plan .table td {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
  vertical-align: middle;
}
.new-plan .table td.heading-flex {
  vertical-align: bottom;
}
.new-plan .table td .top.with-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-plan .table td .top.with-tooltip .tooltip-pop {
  margin-left: 4px;
  cursor: pointer;
}
.new-plan .table td .top .small {
  font-family: "Intro";
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.28px;
  margin-bottom: 8px;
}
.new-plan .table td .top .small + .big,
.new-plan .table td .top .small .price-chips {
  margin-top: 8px;
}
.new-plan .table td .top .big {
  font-family: "Intro";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.22px;
  margin-bottom: 16px;
}
.new-plan .table td .top .type {
  font-family: "Intro";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
.new-plan .table td .price-chips {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.new-plan .table td .price-chips .big {
  margin-bottom: 0;
}
.new-plan .table td .discountChips {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Intro";
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.32px;
  background-color: #CCDBE3;
  padding: 5px 9px;
  border-radius: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.new-plan .table td .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 14px;
}
.new-plan .table td .bottom .price {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-bottom: 2px;
}
.new-plan .table td .bottom .price-old {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  text-decoration: line-through;
  margin-bottom: 0;
}
.new-plan .table .feature-list {
  max-width: 410px;
}
.new-plan .table .feature-list .title {
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.32px;
  margin-bottom: 0;
}
.new-plan-title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0.64px;
  max-width: 788px;
  margin: 24px auto 50px;
  text-align: center;
}
@media (max-width: 992px) {
  .new-plan-title {
    font-size: 20px;
    line-height: 24px;
  }
}
.new-plan-info {
  color: #161616;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
@media (max-width: 992px) {
  .new-plan-info {
    font-size: 18px;
    line-height: 22px;
  }
}

.plan-accordion-card {
  padding: 24px 16px 18px;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
}
.plan-accordion-card:not(:last-child) {
  margin-bottom: 16px;
}
.plan-accordion-card-top {
  background-color: #005F8D;
  margin-top: -24px;
  margin-left: -16px;
  margin-right: -16px;
  border-radius: 11px 11px 0 0;
  padding: 24px 16px 0;
}
.plan-accordion-card.premium {
  border: 1px solid #005F8D;
  position: relative;
}
.plan-accordion-card.premium .plan-accordion-card-tag {
  color: #F2F2F2;
}
.plan-accordion-card.premium .plan-accordion-card-pricing .price {
  color: #fff;
}
.plan-accordion-card.premium .duration {
  color: #e6e6e6;
}
.plan-accordion-card.standard {
  border: 1px solid #00A6CA;
}
.plan-accordion-card.starter {
  border: 1px solid #F2F2F2;
  background-color: #fafafa;
}
.plan-accordion-card.starter .plan-accordion-card-cta {
  padding-bottom: 0;
  border-bottom: 0;
}
.plan-accordion-card.starter .plan-accordion-card-tag {
  color: #595959;
}
.plan-accordion-card.starter .plan-accordion-card-pricing .duration {
  margin-bottom: 0;
  color: #595959;
}
.plan-accordion-card.starter .plan-accordion-card-cta {
  margin-top: 20px;
}
.plan-accordion-card .popularChips {
  position: absolute;
  right: -20px;
  top: -22px;
}
.plan-accordion-card-title {
  font-family: "Intro";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
}
.plan-accordion-card-tag {
  font-family: "Intro";
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #262626;
}
.plan-accordion-card .duration {
  font-family: "Intro";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #262626;
  display: block;
  margin-bottom: 24px;
}
.plan-accordion-card-pricing {
  display: flex;
  align-items: center;
  gap: 6px;
}
.plan-accordion-card-pricing .price {
  font-family: "Intro";
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #005F8D;
}
.plan-accordion-card-pricing .discountChips {
  text-align: center;
  background-color: #67D995;
  color: #004364;
  padding: 10px;
  border-radius: 20px;
  font-family: "Intro";
  font-size: 12px;
  line-height: 8px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
}
.plan-accordion-card-pricing .discountChips::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
  animation: shine 3.5s ease infinite;
}
.plan-accordion-card-info {
  font-family: "intro";
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.14px;
  color: #595959;
  margin: 12px 0 0;
}
.plan-accordion-card-cta {
  text-align: right;
  padding: 0 16px 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-bottom: 1px solid #E6EDF1;
}
.plan-accordion-card-cta .customBtn {
  padding: 19px 40px 15px;
}
.plan-accordion-card-action {
  padding-top: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plan-accordion-card-action svg {
  transition: all 0.3s ease-in;
}
.plan-accordion-card-action.active svg {
  rotate: 180deg;
}
.plan-accordion-card-action > p {
  font-family: "Intro";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #595959;
  margin-bottom: 0;
}
.plan-accordion-card-collapse {
  display: none;
}
.plan-accordion-card-collapse.openAccordion {
  display: block;
}
.plan-accordion-card ul {
  padding: 0;
  margin-top: 20px;
}

.webStarter {
  background-color: #FAFAFA;
  border: 1px solid #F2F2F2;
  border-radius: 28px;
  margin: 40px 0;
  padding: 28px;
  display: flex;
  justify-content: space-between;
}
.webStarter-title {
  font-family: "Intro";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
  margin-bottom: 24px;
}
.webStarter-tag {
  font-family: "Intro";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #595959;
  margin-bottom: 4px;
}
.webStarter-price {
  margin-bottom: 0;
}
.webStarter-price .price {
  font-family: "Intro";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #004364;
}
.webStarter-price .title {
  font-family: "Intro";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.webStarter .right {
  text-align: right;
}
.webStarter-note {
  font-family: "Intro";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #262626;
  margin-top: 46px;
  margin-bottom: 0;
}
.webStarter .customBtn {
  width: 230px;
  display: inline-flex;
}/*# sourceMappingURL=style.css.map */